.container{
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

button {
  background-color: #1c4980;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

th {
  background: #383838;
  color: white;
  padding: 16px;
  text-align: left;
}

td {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

canvas {
  max-width: 500px;
  max-height: 500px;
  margin: 40px auto;
  display: block;
} 
.chart-container{
  width: 500px;
  margin: auto;
}